{
  "py/object": "app_config.Config",
  "subreddits_to_crawl": [
    "Veloren"
  ],
  "number_of_posts": 10,
  "submission_getter": {
    "py/object": "submission_getters.HotSubmissionGetter"
  },
  "verbose": true,
  "repeat_hours": 1,
  "repeat_minutes": 0,
  "repeat_seconds": 0,
  "batch_save_interval_seconds": 350,
  "stream_save_interval_seconds": 300,
  "from_date": "2021-04-01",
  "to_data": "2021-05-19"
}