{
  "py/object": "app_config.Config",
  "subreddits_to_crawl": [
    "Veloren",
    "gatekeeping"
  ],
  "number_of_posts": 10,
  "submission_getter": {
    "py/object": "submission_getters.HotSubmissionGetter"
  },
  "verbose": true,
  "repeat_hours": 1,
  "repeat_minutes": 0,
  "repeat_seconds": 0,
  "max_repetitions": 10
}