{
  "reddit_app_info": {
    "client_id": "[Insert Client ID Here]",
    "client_secret": "[Insert Client Secret Here]",
    "user_agent": "python:TUG-CommentCrawler:v1.0.0 (by u/Ignaz503)",
    "use_user_account": false,
    "user_account_name": "",
    "user_account_password": ""
  },
  "subreddits_to_crawl": [
    "civ",
    "CrusaderKings",
    "eu4",
    "totalwar",
    "SimCity",
    "CitiesSkylines",
    "RimWorld",
    "Stellaris",
    "hoi4",
    "dwarffortress",
    "victoria2",
    "aoe2",
    "slaythespire",
    "factorio",
    "EndlessLegend",
    "starcraft",
    "Xcom",
    "ftlgame",
    "prisonarchitect",
    "Oxygennotincluded",
    "Frostpunk",
    "bindingofisaac",
    "deadcells",
    "HadesTheGame",
    "hearthstone",
    "EnterTheGungeon",
    "StardewValley",
    "riskofrain",
    "SurvivingMars",
    "pathofexile"
  ],
  "number_of_posts": 10,
  "submission_getter": {
    "type": "hot"
  },
  "verbose": true,
  "repeat_hours": 1,
  "repeat_minutes": 0,
  "repeat_seconds": 0,
  "batch_save_interval_seconds": 350,
  "stream_save_interval_seconds": 300,
  "from_date": "2021-04-01",
  "to_date": "2021-06-01",
  "path_to_storage": "",
  "bot_list_name": "bot_list.json"
}